<br>


<mat-grid-list cols="2" rowHeight="5:1">

    <mat-grid-tile>
        <mat-card class="card" 
            routerLink="comma"
            color="primary"
            style="cursor:pointer;
            background: #3f51b5;
            color: #fff;
            width: 90%;
            height: 50%;">
            <mat-card-title>
                <mat-icon>join_full</mat-icon>
                Comma Delimitation
            </mat-card-title>
            <mat-card-subtitle style="color: #fff;">
                Tool to comma delimate with or without single quotes.
            </mat-card-subtitle>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="card"
            routerLink="text-replace"
            style="cursor:pointer;
            background: #3f51b5;
            color: #fff;
            width: 90%;
            height: 50%;">
            <mat-card-title>
                <mat-icon>repeat</mat-icon>
                Text Replace
            </mat-card-title>
            <mat-card-subtitle style="color: #fff;">
                Create a pattern and duplicate it with your input.
            </mat-card-subtitle>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>
